body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #b5e1ff;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  padding: 35px 0;
}

.header .mainHeader {
  max-width: 264px;
  margin: auto;
}

.header .mainHeader .search {
  height: 23px;
  -webkit-transition: max-width 0.3s;
  transition: max-width 0.3s;
}

.header .mainHeader .search .searchBar {
  background: #ebebeb;
  font-size: 1.1em;
  -webkit-transition: padding 0.3s, background 0.2s, color 0.4s, left 0.3s;
  transition: padding 0.3s, background 0.2s, color 0.4s, left 0.3s;
  border-radius: 5px;
  text-align: center;
  border: none;
  padding: 5px 40px;
  color: #a2a2a2;
}

.header .mainHeader .search .searchBar:hover {
  color: black;
  background: white;
  left: 38%;
}

.header .mainHeader .search .searchBar:focus {
  color: black;
  background: white;
  left: 38%;
}

.CountryDiv {
  width: 80%;
  margin: auto;
}

.CountryDiv .coutryList {
  list-style-type: none;
  font-size: 18px;
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -o-object-fit: cover;
     object-fit: cover;
}

.CountryDiv .coutryList .countryLi {
  margin: 10px;
  background: #f2f2f9;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.CountryDiv .coutryList .countryLiTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.CountryDiv .coutryList .countryLiTop img {
  margin: 5px;
  -webkit-box-flex: 0.05;
      -ms-flex-positive: 0.05;
          flex-grow: 0.05;
}

.CountryDiv .coutryList .countryLiTop p {
  margin: 5px;
  margin-left: -38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.CountryDiv .coutryList .countryLi button {
  width: 40%;
  margin: auto;
  margin-bottom: 1em;
}

.showCountry {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showCountry h1 {
  font-size: 2em;
}

.showCountryList li:nth-child() {
  color: red;
}

.btn {
  border: none;
  background-color: #69c3ff;
  padding: 5px 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */