@import "./values";
@import "./countryInt";

@mixin mobile() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mobileSmall() {
  @media (max-width: 450px) {
    @content;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #fbfbfb;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding-bottom: 7rem;
}

.contentWrap {
  position: relative;
  min-height: 100vh;
}

// Country Search logo and Blue rectangle box at the top
.topHeader {
  h1 {
    position: absolute;
    height: 49px;
    left: 18px;
    top: -0.232em;
    color: white;
    font-weight: 900;
    font-size: 2.5em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 00.1);
  }
}

.blueRect {
  position: relative;
  width: 100%;
  height: 57px;
  left: 0px;
  color: white;
  background: #b5e1ff;
}

//Search bar and filter button
.mainHeader {
  .search {
    height: 23px;
    margin: auto;
    margin-top: 68px;

    width: 60%;
    @include mobile() {
      width: 80%;
    }
    @include mobileSmall() {
      width: 100%;
    }
    .searchBar {
      height: 40px;
      width: 100%;
      background: darken(white, 8%);
      font-size: 1.1em;
      transition: background 0.25s, color 0.25s;
      border-radius: $bRad;
      text-align: center;
      border: none;
      color: #a2a2a2;

      @mixin onAction {
        color: black;
        background: white;
      }
      &:hover {
        @include onAction;
      }
      &:focus {
        @include onAction;
      }
    }
  }
}

//Main content aka the list of Countries
.CountryDiv {
  width: 80%;
  margin: auto;
  .coutryList {
    list-style-type: none;
    font-size: 18px;
    margin-top: 70px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    @include mobileSmall() {
      grid-template-columns: 320px;
    }

    object-fit: cover;
    padding-left: 0;

    //Each individual country button
    .countryLi {
      margin: 10px;
      background: #fff;
      border-radius: $bRad;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 00.2);
      transition: box-shadow 0.3s;
      ::selection {
        background-color: transparent;
      }

      ::-moz-selection {
        background-color: transparent;
      }
      &:hover {
        box-shadow: 1px 1px 3px #69c3ff;
      }

      &Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        img {
          margin: 5px;
          flex-grow: 0.05;
        }
        p {
          margin: 5px;
          margin-left: -38px;
          flex-grow: 1;
        }
      }

      button {
        width: 40%;
        margin: auto;
        margin-bottom: 1em;
      }
    }
  }
}

.btn {
  border: none;
  background-color: map-get($colors, "nBlue");
  padding: 5px 18px;
  border-radius: $bRad;
  font-weight: 600;
  cursor: pointer;
}

img {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 00.2);
}
