.showCountry {
  background: white;
  padding: 20px;
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  margin: auto;
}

.showCountry .imgContainer {
  width: 50%;
  margin: auto;
}

.showCountry .imgContainer img {
  float: left;
  max-width: 100%;
}

.showCountry h1 {
  font-size: 2em;
  float: left;
}

.showCountryList {
  float: left;
  list-style-type: none;
  line-height: 2rem;
}

body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fbfbfb;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding-bottom: 7rem;
}

.contentWrap {
  position: relative;
  min-height: 100vh;
}

.topHeader h1 {
  position: absolute;
  height: 49px;
  left: 18px;
  top: -0.232em;
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.blueRect {
  position: relative;
  width: 100%;
  height: 57px;
  left: 0px;
  color: white;
  background: #b5e1ff;
}

.mainHeader .search {
  height: 23px;
  margin: auto;
  margin-top: 68px;
  width: 60%;
}

@media (max-width: 600px) {
  .mainHeader .search {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .mainHeader .search {
    width: 100%;
  }
}

.mainHeader .search .searchBar {
  height: 40px;
  width: 100%;
  background: #ebebeb;
  font-size: 1.1em;
  -webkit-transition: background 0.25s, color 0.25s;
  transition: background 0.25s, color 0.25s;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: #a2a2a2;
}

.mainHeader .search .searchBar:hover {
  color: black;
  background: white;
}

.mainHeader .search .searchBar:focus {
  color: black;
  background: white;
}

.CountryDiv {
  width: 80%;
  margin: auto;
}

.CountryDiv .coutryList {
  list-style-type: none;
  font-size: 18px;
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 0;
}

@media (max-width: 450px) {
  .CountryDiv .coutryList {
    -ms-grid-columns: 320px;
        grid-template-columns: 320px;
  }
}

.CountryDiv .coutryList .countryLi {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.CountryDiv .coutryList .countryLi ::-moz-selection {
  background-color: transparent;
}

.CountryDiv .coutryList .countryLi ::selection {
  background-color: transparent;
}

.CountryDiv .coutryList .countryLi ::-moz-selection {
  background-color: transparent;
}

.CountryDiv .coutryList .countryLi:hover {
  -webkit-box-shadow: 1px 1px 3px #69c3ff;
          box-shadow: 1px 1px 3px #69c3ff;
}

.CountryDiv .coutryList .countryLiTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.CountryDiv .coutryList .countryLiTop img {
  margin: 5px;
  -webkit-box-flex: 0.05;
      -ms-flex-positive: 0.05;
          flex-grow: 0.05;
}

.CountryDiv .coutryList .countryLiTop p {
  margin: 5px;
  margin-left: -38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.CountryDiv .coutryList .countryLi button {
  width: 40%;
  margin: auto;
  margin-bottom: 1em;
}

.btn {
  border: none;
  background-color: #69c3ff;
  padding: 5px 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */