@import "./values";

body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: map-get($colors, "bBlue");
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: rgba(0, 0, 0, 00.2) 1px solid;
  padding: 35px 0;

  .mainHeader {
    h1 {
    }
    max-width: 264px;
    margin: auto;
    .search {
      height: 23px;
      transition: max-width 0.3s;

      .searchBar {
        background: darken(white, 8%);
        font-size: 1.1em;
        transition: padding 0.3s, background 0.2s, color 0.4s, left 0.3s;
        border-radius: $bRad;
        text-align: center;
        border: none;
        padding: 5px 40px;
        color: #a2a2a2;

        @mixin onAction {
          color: black;

          background: white;
          left: 38%;
        }
        &:hover {
          @include onAction;
        }
        &:focus {
          @include onAction;
        }
      }
    }
  }
}

.CountryDiv {
  width: 80%;
  margin: auto;
  .coutryList {
    list-style-type: none;
    font-size: 18px;
    margin-top: 70px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    object-fit: cover;

    .countryLi {
      margin: 10px;
      background: #f2f2f9;
      border-radius: $bRad;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        img {
          margin: 5px;
          flex-grow: 0.05;
        }
        p {
          margin: 5px;
          margin-left: -38px;
          flex-grow: 1;
        }
      }

      button {
        width: 40%;
        margin: auto;
        margin-bottom: 1em;
      }
    }
  }
}

.showCountry {
  background: white;
  display: flex;

  h1 {
    font-size: 2em;
  }

  &List {
    li {
      &:nth-child() {
        color: red;
      }
    }
  }
}

.btn {
  border: none;
  background-color: map-get($colors, "nBlue");
  padding: 5px 18px;
  border-radius: $bRad;
  font-weight: 600;
  cursor: pointer;
}

img {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 00.2);
}
